<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">
    </div>
    <div class="col-sm-9 text-left">
        <flash-messages></flash-messages>
      <nav class="bg-light">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new"
            aria-selected="false">New</a>
          <a  class="nav-item nav-link active" id="nav-article-tab" data-toggle="tab" href="#nav-articles" role="tab"
            aria-controls="nav-articles" aria-selected="true">My Articles</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
          <div class="jumbotron">
            <form #postForm="ngForm">

              <div class="form-group">
                <textarea #posttitle="ngModel" [(ngModel)]="title" name="posttitle" type="text" class="form-control form-control-sm"
                  rows="1" placeholder="Title" [class.is-invalid]="posttitle.invalid && posttitle.touched" required>
                </textarea>
                <small class="text-danger" [class.d-none]="posttitle.valid || posttitle.untouched">Title is required</small>
              </div>

              <div class="form-group">
                <textarea #newpostarea="ngModel" [(ngModel)]="post" name="post" [class.is-invalid]="newpostarea.invalid && newpostarea.touched"
                  type="text" class="form-control" placeholder="Content" rows="5" required></textarea>
                <small class="text-danger" [class.d-none]="newpostarea.valid || newpostarea.untouched">Content is
                  required to post</small>
              </div>
              <div class="form-group">
                <button class="btn btn-primary float-right" (click)="newpost();postForm.reset();" [disabled]="postForm.invalid">post</button>
              </div>

            </form>
          </div>
        </div>

        <div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
          <div *ngFor="let post of posts" class="jumbotron">
            <p class="btn badge badge-sm badge-danger float-right" (click)="deletePost(post._id)">Delete</p>
            <p class="lead">{{post.title}}</p>
            <hr class="my-4">
            <div>
              <p>{{post.post}}....
                <button class="btn badge badge-sm badge-info" (click)="postDetails(post._id)">Read more</button>
              </p>

            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-1 sidenav">
    </div>
  </div>
</div>