<mat-card class="mat-card-class">
    <mat-card-header>
        <mat-card-title>Login to continue</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <form #loginForm="ngForm" (submit)="loginUser(loginForm);" class="example-form">
              <table align="center" >
            <tr>
              <div class="form-group">
                <mat-form-field>
               <input matInput type="text" #usernameref="ngModel" [(ngModel)]="username" placeholder="Username" name="username" [class.is-invalid]="usernameref.invalid && usernameref.touched" required>
               <mat-icon matSuffix >person</mat-icon>
              </mat-form-field>
               <p><small class="text-danger" [class.d-none]="usernameref.valid || usernameref.untouched">Username is required</small></p>
              </div>
            </tr>
            <tr>
                <div class="form-group">
                <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'  " #passwordref="ngModel" [(ngModel)]="password" placeholder="Password" name="password" [class.is-invalid]="passwordref.invalid && passwordref.touched" required>
                <mat-icon class="mat-password" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <p><small class="text-danger" [class.d-none]="passwordref.valid || passwordref.untouched">Password is required</small></p>
              </div>
            </tr>
            <tr>
              <button type="submit" mat-raised-button color='primary'>Login</button>
            </tr>
            </table>
            </form>
    </mat-card-content>
   
</mat-card>

